* {
    margin: 0;
    padding: 0;
}

.box {
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    margin: 200px;
    /* transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s; */
    transition: transform 2s ease;
}

.box:hover {
    /* transform: rotate(45deg); */
    transform: scale(1.2);
}

.btn {
    height: 50px;
    width: 150px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:active {
    transform: scale(0.9);
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    background-color: black;
    color: white
}

.spinner {
    height: 400px;
    width: 400px;
    background-color: transparent;
    border: 10px solid black;
    border-radius: 50%;
    margin: 50px;
    border-top: 10px solid white;
    /* animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s; */
    animation: spin 2s infinite ease;
}

@keyframes spin {

    /* from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    } */
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}