* {
    margin: 0;
    padding: 0;
}

.box {
    background-color: cadetblue;
    margin: 20px;
}

.box button {
    background-color: azure;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.container {
    background-color: brown;
    margin: 20px;
    padding: 20px;
    color: white;
}